.slideshow {
    position: absolute;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100vw;
    width: 100vw;
    height: 80vh;
    max-height: 80vh;
    top: 10%;
}

.visibleSlide {
    white-space: nowrap;
    transition: ease .5s;
    height: 100%;
}

.slide {
    display: inline-block;
    height: 100%;
    width: 100%;
}


/* Buttons */

.slideshowMenu {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: grey;
}