.github {
    width: 85%;
    height: 85%;
    margin: 0 auto;
}

.profile {
    min-width: 30%;
    background-color: var(--lightblack);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.profile .avatar {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 1.5rem;
    display: block;
    margin: 0 auto;
}

.profileName {
    padding-top: 3rem;
    font-family: Helvetica;
    margin: 0 auto;
    padding-bottom: 0;
}

.profileName h1 {
    padding: 0;
    margin: 0;
}

.profile .bio {
    color: var(--lightgrey);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding: 4rem 1.5rem;
    text-align: left;
    white-space: normal;
}


/* Repos */

.repos {
    flex-grow: 2;
    border: solid 0px var(--grey);
    border-left-width: 5px;
    background-color: var(--black);
    overflow: auto;
}

.repo {
    flex-grow: 1;
    width: 40%;
    border: 5px solid var(--grey);
    margin: 3rem;
    border-radius: 10px;
}

.repo .repoLink {
    margin: 1.5rem auto;
    padding: 1rem;
    cursor: pointer;
    display: block;
    white-space: normal;
}

.repo .repoLink h1 {
    padding: 0;
    margin: 0;
}

.repo .repoDesc {
    color: var(--lightgrey);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    white-space: normal;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 1rem;
}

 ::-webkit-scrollbar-track {
    background: rgb(10, 10, 15);
}

 ::-webkit-scrollbar-thumb {
    background: var(--lightblack)
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--grey)
}